* {
    font-family: "DM Sans", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.cursor-pointer {
    user-select: none;
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}
